.DS_Store
coverage/**/*
.rubocop-upgraded.yml
disabled-upgraded.yml
enabled-upgraded.yml
CoverallsRakefile
analysis/**/*
.gitignore-analysis

# Ignore all lock files (e.g. Gemfile.lock)
*.lock

#  Ignore local copy of rubocop file
.rubocop-*
